.App {
  margin-top: 15px;
}

.App h1 {
  font-size: 30px;
  margin: 10px auto;
}

.App .navbar-brand {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 5px !important;
}

.App .logo img {
	height: 45px !important;
}

.App .primary-link-new {
	border: 2px solid #004997;
    border-radius: 5px;
    color: #004997;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 36px;
    margin: 0.5em;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.App .primary-link-new a {
	color: #004997 !important;
    margin: auto;
    padding: 10px;
}

.App .card-nav-tabs {
    margin-top: 45px;
}

.App .card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.App .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: .25rem;
}

.App .card-nav-tabs .card-header {
    margin-top: -30px !important;
}

.App .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=header-], .card [class*=header-] .card-title, .card [class*=header-] .card-title a, .card [class*=header-] .icon i {
    color: #fff;
}

.App .card .card-header-primary {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
}

.App .card.bg-primary, .card .card-header-primary, .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background:  #004997 !important;
    max-height: 60px;
}

.App .card.bg-match-list, .card .card-header-match-list, .card.card-rotate.bg-match-list .back, .card.card-rotate.bg-match-list .front {
    background:  #9f105c !important;
    max-height: 60px;
}

.App .nav-tabs-navigation, .App .nav-tabs-wrapper
 {
  padding-top: 0 !important;
}

.App .card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg, #eee, #bdbdbd);
}

.App .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.App .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.App .card .card-header .nav-tabs {
    padding: 0 !important;
}

.App .nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.App .nav .nav-item {
    position: relative;
}

.App .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    cursor: pointer;
}

.App .nav-tabs .full-width {
    width: 100%;
}

.App .nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0, 0%, 100%, .2);
    transition: background-color .3s .2s;
}

.App  .nav-tabs .nav-link.active {
    color: rgba(0, 0, 0, .87);
    border-color: #9c27b0;
}

.App  .nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
    border: 0 !important;
    color: #fff !important;
    font-weight: 500;
}

.App  .nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.App .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fafafa;
    border-color: #dee2e6 #dee2e6 #fafafa;
}

.App .nav-tabs .nav-link {
    border-bottom: .214rem solid transparent;
    color: #555;
}

.App .nav-pills .nav-link, .nav-tabs .nav-link {
    padding: 1.4286em .8575em;
    font-size: .875rem;
    font-weight: 500;
    border: 0;
}

.App .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.App .nav-link {
    text-transform: uppercase;
}

.App .nav-link {
    display: block;
    padding: .5rem 1rem;
}