.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .main-wrapper {
  margin-top: 30px;
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}

.Home .upcoming-matches-wrapper {
  text-align: center !important;
}

.Home .upcoming-matches-wrapper li {
  display: inline-block;
  float:  none !important;
  margin: 0px auto;
}