@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 80%;
  }
}

.Login .form-label {
  font-size: 16px;
  color: #004997;
}

.Login .form-submit {
  font-size: 16px;
  height: 50px;
  max-height: 50px;
}
