@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 80%;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.Signup .form-label {
  font-size: 16px;
  color: #004997;
}

.Signup .form-submit {
  font-size: 16px;
  height: 50px;
  max-height: 50px;
}